name: Publish

on:
  push:
    branches: ["main"]

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    # Skip publishing for forks
    if: github.repository_owner == 'arthur-ver'

    steps:
      - uses: actions/checkout@v6

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true

      - name: Publish package
        run: deno publish --dry-run
