name: Publish

on:
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.repository_owner == 'arthur-ver' }}

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true

      - name: Publish package
        run: deno publish --dry-run
